server:
  port: 9093
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: "0000"
    url: jdbc:mysql://localhost:3306/ies_app
    username: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  mvc:
    pathmatch:
      matching-strategy: ant-path-matcher

  mail:
    host: smtp.gmail.com
    password: xnos jkag tdmv vros
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    username: www.sharma.117@gmail.com